.menu-container {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
  background: #eee;
  border-right: 1px solid #ddd;
  width: 250px;
  font-size: 1em;
  display: none;
}
.menu-container * {
  margin: 0;
  padding: 0;
}
.menu-container ul {
  list-style-type: none;
}
.menu-container li > ul {
	padding-left: 1em;
  background: #eee;
}
.menu-container a {
  display: block;
  padding: .75em 1em;
}
.menu-container a:hover {
	background: #ddd;
  text-decoration: none;
}
.menu-container .active > a {
	font-weight: bold;
  background: #428bca;
  color: #fff;
}
.menu-container .glyphicon {
  margin-left: .5em;
  opacity: .25;
  float: right;
}